@charset "IBM866";
/* =================================================================================  Оформление новой переключалки ролей  ================================================================================= */
#hm-role-switcher { width: 200px; height: 10px; line-height: 10px !important; display: inline-block; margin-right: 5px; }

.hm-roleswitcher, .hm-roleswitcher-left, .hm-roleswitcher-center, .hm-roleswitcher-right, .hm-roleswitcher-trigger { position: absolute; box-sizing: border-box; padding: 0 !important; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }

.hm-roleswitcher-left, .hm-roleswitcher-right, .hm-roleswitcher-trigger { background-image: url("../../images/roleswitcher/sprite.png"); background-repeat: no-repeat; }

.hm-roleswitcher-left, .hm-roleswitcher-center, .hm-roleswitcher-right, .hm-roleswitcher-trigger { top: 0; }

.hm-roleswitcher { left: 0; top: 0; right: 0; height: 27px; margin-top: -8px; box-sizing: border-box; cursor: pointer; }

.hm-roleswitcher-left { background-position: 0 0; left: 0; bottom: 0; width: 27px; }

.hm-roleswitcher-center { background-image: url("../../images/roleswitcher/sprite-center.png"); background-repeat: repeat-x; background-position: 0 0; left: 27px; right: 19px; padding: 0 0 0 6px !important; bottom: 0; line-height: 25px; overflow: hidden; color: #c6d2e5; }

.hm-roleswitcher-right { background-position: -29px 0; right: 0px; bottom: 0; width: 19px; }

.hm-roleswitcher-trigger { background-position: -50px 0; width: 7px; height: 4px; top: 50%; margin-top: -2px; right: 10px; }

.hm-roleswitcher-disabled .hm-roleswitcher-left { background-position: 0 -27px; }
.hm-roleswitcher-disabled .hm-roleswitcher-center { background-position: 0 -27px; color: #9a9a9a; }
.hm-roleswitcher-disabled .hm-roleswitcher-right { background-position: -29px -27px; cursor: default; }
.hm-roleswitcher-disabled .hm-roleswitcher-trigger { display: none; }

.hm-roleswitcher-menu { position: absolute; top: 25px; min-width: 50px; min-height: 5px; background-color: #4b586d; border: 1px solid black; cursor: pointer; padding: 3px; }
.hm-roleswitcher-menu div { padding: 5px; color: #c6d2e5; }
.hm-roleswitcher-menu div:hover { background-color: #566a89; }

.hm-roleswitcher-menu div.hm-roleswitcher-menu-item-enduser { font-weight: 700; color: #fff; margin-top: 14px; }

.hm-roleswitcher-list-item-enduser-separator { height: 0; border: 1px solid #394661; border-bottom-color: #6f7683; padding: 0 !important; margin-top: -13px; margin-bottom: 3px; }

.hm-roleswitcher-menu div.hm-roleswitcher-menu-item-enduser .hm-roleswitcher-list-item-enduser-bottomtext { font-weight: 100; padding: 2px 0 !important; color: #fff; }

.is-authorized #header, .has-user-block #header { padding-top: 66px; }

#user-block-wrapper { position: absolute; top: 0; width: 100%; height: 34px; left: 0; display: block; }

.user-block-wrapper-default { background: black url("../../images/user-block-background.png") top left repeat-x; }

.user-block-wrapper-restoreable { background-color: #d66161; }

#header #user-block { margin: 0 1.909em; height: 100%; display: block; padding: 0; white-space: nowrap; line-height: 34px; }
#header #user-block h3.name, #header #user-block .action-link { display: inline; vertical-align: middle; padding: 0; margin: 0; }
#header #user-block .edit-profile, #header #user-block .ui-selectmenu { margin: 0 1em 0 0; }
#header #user-block .edit-profile { display: inline-block; *display: inline; *zoom: 1; }
#header #user-block .logout, #header #user-block .login { position: absolute; right: 0; top: 0; }
